.container {
  outline: 1px solid red;
  max-width: 1440px;
  padding: 100px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  /*text-align: center;*/
}

.header__title {
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 66px;
  /* identical to box height */


  color: #2E282C;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.cards__item {
  position: relative;
}

.cards__img {
  width: 100%;
  max-height: 400px;
  height: 100%;
  border-radius: 6px;
}

.cards__date {
  position: absolute;
  top: 40px;
  left: 40px;

  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;

  padding: 9px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 66px;
  /* identical to box height */


  color: #FFFFFF;
  margin: 0;
}

.cards__title {
  margin: 0;
  position: absolute;
  bottom: 40px;
  left: 40px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 66px;
  /* identical to box height */


  color: #FFFFFF;
}

.cards__favorites {
  position: absolute;
  top: 40px;
  right: 40px;
}

.filter__form {
  margin: 15px 0;
}

.filter__label {
  margin-right: 10px;
}

